// Pwa safe areas
$safe-area-inset-top: var(--safe-area-inset-top);
$safe-area-inset-right: var(--safe-area-inset-right);
$safe-area-inset-bottom: var(--safe-area-inset-bottom);
$safe-area-inset-left: var(--safe-area-inset-left);
