@mixin fade($from: 0, $transition: 0.2s ease) {
  @keyframes fade-in {
    from {
      opacity: $from;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }

    to {
      opacity: $from;
    }
  }

  .fade-enter {
    animation: fade-in $transition forwards;
    will-change: opacity;
  }

  .fade-leave {
    animation: fade-out $transition forwards;
    will-change: opacity;
  }
}

@mixin scale($scale: 0.95, $opacity: 0, $transition: 0.25s ease) {
  @keyframes scale-in {
    from {
      transform: scale($scale);
      opacity: $opacity;
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes scale-out {
    from {
      transform: scale(1);
      opacity: 1;
    }

    to {
      transform: scale($scale);
      opacity: $opacity;
    }
  }

  .scale-enter {
    animation: scale-in $transition forwards;
    will-change: transform, opacity;
  }

  .scale-leave {
    animation: scale-out $transition forwards;
    will-change: transform, opacity;
  }
}

@mixin height($height: 100%, $opacity: 1, $transition: 0.25s ease) {
  @keyframes height-in {
    from {
      max-height: 0;
      opacity: 0;
    }

    to {
      max-height: $height;
      opacity: $opacity;
    }
  }

  @keyframes height-out {
    from {
      max-height: $height;
      opacity: $opacity;
    }

    to {
      max-height: 0;
      opacity: 0;
    }
  }

  .height-enter {
    animation: height-in $transition forwards;
    will-change: max-height, opacity;
  }

  .height-leave {
    animation: height-out $transition forwards;
    will-change: max-height, opacity;
  }
}
